@charset "utf-8";
body {
margin: 0;
}
.flex {
display: flex;
}
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
.green--box {
  width: 150px;
  height: 250px;
  float: left;
  background: #00ff51
}
.brown--box {
  position: relative;
  width: 250px;
  height: 250px;
  float: left;
  background: #8c2727
}
.orange--main{
  position: absolute;
  top: 40px;
  left: 40px;
}
.orange--side{
  width: 140px;
  height: 40px;
  background:#ff863f;
  border-style: solid;
  border-color: #ffffff;
}
.orange--main :nth-child(2){
  margin: 5px 0;
}
.yellow--box{
  height: 100px;
  width: 400px;
  background: #fff700
}